<div class="feature-list feature-list-with-switcher list-group">
    {{#each items}}
        <a data-id="{{id}}" data-img-url="{{imgUrl}}" href="#" class="list-group-item {{#if @first}}active{{/if}}">
            <h3 class="pull-left"><span class="glyphicon glyphicon-chevron-left"></span></h3>
            <p class="list-group-item-text">{{{text}}}</p>
        </a>
    {{/each}}
</div>