<div id="footer" class="row">
    <div class="col-sm-4">
        <a href="#support">DL32R RESOURCES & SUPPORT</a>
        <hr>
        <ul id="footer-links">
            <li><h2><a href="#downloads">DOWNLOADS</a></h2></li>
            <li><a href="#manual">Owner's Manual</a></li>
            <li><a href="#specs">Spec Sheet</a></li>
            <li><a href="#diagrams">Hook Up Diagrams</a></li>
            <li><a href="#support">Support & Warranty</a></li>
        </ul>
        <hr>
        <p>Master Fader is available for Apple iPad and iPhone.</p>
        <div id="#app-links"><a href="#app-icon"><img src="dancing-man-app-icon.png"></a><a href="#app-store"><img id="app-store-badge" src="public/images/app-store-badge.svg"></a></div>
        <div>
            <dfn>&copy;2014. All rights reserved.</dfn>
        </div>
    </div>
    <div id="footer-videos" class="col-sm-8">
        <h2>VIDEOS</h2>
        <div>
            <ul id="video-thumbs">
                <li>{{> video-thumb video}}</li>
                <li>{{> video-thumb video}}</li>
                <li>{{> video-thumb video}}</li>
                <li>{{> video-thumb video}}</li>
                <li>{{> video-thumb video}}</li>
                <li>{{> video-thumb video}}</li>
                <li>{{> video-thumb video}}</li>
            </ul>
        </div>
    </div>
</div>
