<div id="header">
    <div id="navigation">
        <a href="#intro">
            <img id="logo" class="pull-left" src="public/images/mackie_logo.png" width="300">
        </a>
        <ul id="main-links" class="nav-links">
            <li><a href="#hardware">Hardware</a></li>
            <li><a href="#wireless">Wireless</a></li>
            <li><a href="#record-play">Record/Play</a></li>
            <li><a href="#dsp">DSP</a></li>
            <li><a href="#master-fader">App</a></li>
        </ul>
    </div>
    <div id="sub-navigation">
        <div id="home-page">
            <a href="http://www.mackie.com">
                <img src="public/images/mackie_btn_nav.png">
            </a>
        </div>
        <div id="resources">
            <a href="#footer">{{support.label}}
                <i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
    </div>
</div>