<div id="header" class="guide">
    <div id="support-bar">
        <a href="{{support.url}}">{{support.label}}</a>
        <i class="glyphicon glyphicon-chevron-down pull-right"></i>
    </div>
    <div>
        <div id="dancing-man" class="center-block">
            <img src="http://placehold.it/50x50" class="pull-left">
            <h1 class="pull-left">
                <span class="stroked">DL</span><span>32R</span>
            </h1>
        </div>
    </div>
    <div>
        <ul id="main-links" class="center-block">
            <li><a href="#intro">Intro</a></li>
            <li><a href="#intro">Hardware</a></li>
            <li><a href="#intro">Wireless</a></li>
            <li><a href="#intro">Record</a></li>
            <li><a href="#intro">DSP</a></li>
            <li><a href="#intro">Master Fader</a></li>
        </ul>
    </div>
    <div id="main-links-divider" class="text-center">
        <img src="http://placehold.it/800x10" width="800" height="10">
    </div>
    <div id="mix-free" class="text-center">
        <h1>MIX</h1>
        <h1 class="stroked">FREE</h1>
    </div>
    <p id="intro-text" class="text-center">The Mackie DL32R is a powerful 32-channel digital mixer completely controlled wirelessly from Mackie's intiutitvie Master Fader iPad app, freeing you to get in the mix like never before.</p>
</div>