<div id="header">
    <div id="nav-bar" class="clearfix">
        <ul id="main-links" class="nav-links">
            <li><a href="#intro">Intro</a></li>
            <li><a href="#intro">Hardware</a></li>
            <li><a href="#intro">Wireless</a></li>
            <li><a href="#intro">Record</a></li>
            <li><a href="#intro">DSP</a></li>
            <li><a href="#intro">Master Fader</a></li>
        </ul>
        <ul id="resources" class="nav-links">
            <li><a id="resources" href="{{support.url}}">{{support.label}}<i class="glyphicon glyphicon-chevron-down pull-right"></i></a></li>
        </ul>

    </div>
</div>