<div class="video">
    <a href="#plays-video">
        <img src="public/images/video-thumb.jpg" width="170" height="94">
        <p>Lorem ipsum dolor wathc the video
            <span class="runtime">[5:23]</span>
        </p>
    </a>
</div>