<div id="{{id}}" class="video">
    <a href="#play-video" data-toggle="modal" data-target="#video-modal">
        <img src="public/images/video-thumb.jpg" width="170" height="94">
        <p>{{{text}}}</p>
    </a>
    <span class="runtime">[{{runtime}}]</span>
</div>