<html>
    <head>
        <link href="/public/css/mackie.css" rel="stylesheet">
        <title>Express + Hbs</title>
    </head>
    <body>
        {{{body}}}
        <script src="/public/js/libs/jquery.js"></script>
        <script src="/public/js/libs/bootstrap.min.js"></script>
        <script src="/public/js/libs/handlebars.js"></script>
        <script src="/public/js/libs/underscore.js"></script>
        <script src="/public/js/libs/backbone.js"></script>
        <script src="/public/js/libs/backbone-nested.js"></script>
    </body>
</html>