<html>
    <head>
        <title>{{content.seo.title}}</title>
        <meta name="description" content="{{content.seo.description}}">
        <meta name="keywords" content="{{content.seo.keywords}}">
        <link href="/public/css/mackie.css" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
        <script src="/public/js/libs/jquery.js"></script>
        <script src="/public/js/libs/bootstrap.min.js"></script>
        <script src="/public/js/mackie.js"></script>
    </body>
</html>