<html>
    <head>
        <title>{{content.seo.title}}</title>
        <meta name="description" content="{{content.seo.description}}">
        <meta name="keywords" content="{{content.seo.keywords}}">
        <link href="/public/css/mackie.css" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
        <script src="/public/js/libs/jquery.js"></script>
        <script src="/public/js/libs/bootstrap.min.js"></script>
        <script>
            $(document).on('click', '.video', function () {
                var src = "//www.youtube.com/embed/" + this.id + "?html5=1";
                var $videoModal = $('#video-modal');

                $videoModal.find('iframe').attr('src', src);
                $videoModal.modal('show');
            });
        </script>
    </body>
</html>