<!DOCTYPE html>
<html>
    <head>
        <link href="//d2o8q0ogrzkcnd.cloudfront.net/css/main.css" rel="stylesheet">
        <link href="//d2o8q0ogrzkcnd.cloudfront.net/css/helpers.css" rel="stylesheet">
        <title>Jordan Brennan</title>
    </head>
    <body>
        {{{body}}}
        <script>
            window.JFB = {};
            JFB = {{{json JFB}}};
        </script>
        <script src="//d2o8q0ogrzkcnd.cloudfront.net/js/libs/jquery.js"></script>
        <script src="//d2o8q0ogrzkcnd.cloudfront.net/js/main.js"></script>
    </body>
</html>