<html>
    <head>
        <link href="public/css/main.css" rel="stylesheet">
        <title>Jordan Brennan</title>
    </head>
    <body>
        {{{body}}}
        <script src="public/js/libs/jquery.js"></script>
        <script src="public/js/libs/handlebars.js"></script>
    </body>
</html>