<div id="sidebar">
    <h1>Jordan Brennan</h1>
    <div class="nav">
        <a href="{{content.sidebar.linkedIn.publicUrl}}" target="_blank"><img src="{{content.sidebar.linkedIn.img.url}}" width="100"></a>
    </div>
</div>
