<div id="sidebar">
    <h1>Jordan Brennan</h1>
    <div class="nav">
        <select id="work-experience-selector">
            <option class="template default" value="">Work Experience...</option>
        </select>
    </div>
    <div class="nav">
        <a href="http://www.linkedin.com/pub/jordan-brennan/44/9b3/931" target="_blank"><img src="public/images/LinkedIn-Logo.png" width="100"></a>
    </div>
    <div class="nav">
        <a href="public/docs/jordan_brennan_resume.pdf"><img src="public/images/resume-icon.png" width="100"></a>
    </div>
</div>
<div id="work-experience-showcase" class="hidden">
    <div id="work-experience-info">
        <h2></h2>
        <p></p>
    </div>
    <div id="work-experience-iframe-wrapper">
        <iframe></iframe>
    </div>
</div>
